body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background-color: #ffc0cb;
  color: #fff;
  padding: 1em;
}
img {
  max-width: 600px;
  max-height: 500px;
  border-radius: 20%;
}
main {
  padding: 2em;
}

.message {
  margin-bottom: 2em;
}

footer {
  background-color: #f2bfff;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.candle1,
.candle2 {
  width: 80px;
  position: absolute;
  bottom: 73%;
  transform: translateY(50%);
}

.candle1 {
  left: 500px; /* Adjust the position as needed */
}

.candle2 {
  right: 500px; /* Adjust the position as needed */
}
