body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
    background-color: #ffc0cb;
    color: #fff;
    padding: 2em;
    text-align: center;
}

header h1 {
    margin: 0;
}
img {
  max-width: 600px;
  max-height: 500px;
  border-radius: 20%;
}
main {
  padding: 2em;
}

.message {
  margin-bottom: 2em;
}

footer {
  background-color: #f2bfff;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.candle1,
.candle2 {
  width: 80px;
  position: absolute;
  bottom: 73%;
  transform: translateY(50%);
}

.candle1 {
  left: 500px; /* Adjust the position as needed */
}

.candle2 {
  right: 500px; /* Adjust the position as needed */
}
@media (min-width: 375px) and (max-width: 768px) {
    header {
        position: relative;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    .candle1, .candle2 {
        width: 40px; /* Adjust candle size for smaller screens */
        bottom: 65%; /* Adjust the position */
    }

    .candle1 {
        left: 10px; /* Adjust the position for candle1 */
    }

    .candle2 {
        right: 10px; /* Adjust the position for candle2 */
    }
    .message{
        text-align: center;
    }
  footer{
    position: relative;
        width: 600px;
    bottom: -30px;
    text-align: center;
    transform: translateX(-23%);
  }
  .image{
    max-width: 330px;
    max-height: 350px;
  }
}


